html
head
title!= title
body
h1!= message
h2 Possible REST API Inputs:
p /gpio/{pin}/on
em Turns LED on
p /gpio/{pin}/off
em Turns LED off
p /gpio/{pin}/blink
em LED flickering
p /gpio/{pin}/direction/{dir}
em Changes the direction of the Pin, possible inputs for {dir} are "in" and "out"
p /gpio/{pin}/reset
em Resets a pin
br
br
br

b change {pin} with the pin you want to change